<h1>Szerkesztő felület</h1>
<br>

<div class="row">
    <div *ngFor="let column of columns" class="col">
        {{ column.text }}
    </div>
    <div class="col">
        Módosítás
    </div>   
</div>

<br> 

<div *ngFor="let menu of weeklymenu" class="row">
    <div *ngFor="let column of columns; let i = index" class="col">
        <input [(ngModel)]="menu[column.key]" type="text" class="form-control">

        <!-- {{ menu[column.key] }}-->    
    </div>    
    <div class="col d-grid gap-2 d-md-block">
        <button (click)="onModify(menu)" class="btn btn-primary text-right" type="button">Módosítás</button>
    </div>    
</div>


