<div class="container">
    <h1 class="text-center">
        <img src="assets/img/restaurant.png" alt="restaurant" width="75" height="75" class="text-center">
        Well Fed Restaurant
    </h1>
</div>

<br>

<nav class="navbar navbar-expand-lg">
    <div class="container justify-content-center">
        <ul class="navbar-nav text-center">

          <li class="nav-item">
            <a class="nav-link" 
            routerLink="/home" >
            Home
          </a>
          </li>

          <li class="nav-item">
            <a class="nav-link"
            routerLink="/weeklymenu">
            Vacsora menü
          </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" 
            routerLink="/#">
            Italkínálat
          </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" 
            routerLink="/booking">
            Asztalfoglalás
          </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" 
            routerLink="/">
            Kapcsolat
          </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" 
            routerLink="adminpanel">
            Admin Panel
          </a>
          </li>


        </ul>
      </div>
  </nav>


